<a href="https://colab.research.google.com/github/choi-yh/BOJ/blob/master/10430_%EB%82%98%EB%A8%B8%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 09.14
https://www.acmicpc.net/problem/10430

문제
---
(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

입력
---
첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

출력
---
첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [2]:
"""그냥 잘 쓰자"""

a, b, c = map(int, input().split())

print((a+b) % c)
print(((a%c) + (b%c)) % c)
print((a*b) % c)
print(((a%c) * (b%c)) % c)

5 8 4
1
1
0
0