<a href="https://colab.research.google.com/github/choi-yh/BOJ/blob/master/10824_%EB%84%A4_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 09.10

문제
---
네 자연수 A, B, C, D가 주어진다. 이때, A와 B를 붙인 수와 C와 D를 붙인 수의 합을 구하는 프로그램을 작성하시오.

두 수 A와 B를 합치는 것은 A의 뒤에 B를 붙이는 것을 의미한다. 즉, 20과 30을 붙이면 2030이 된다.

입력
---
첫째 줄에 네 자연수 A, B, C, D가 주어진다. (1 ≤ A, B, C, D ≤ 1,000,000)

출력
---
A와 B를 붙인 수와 C와 D를 붙인 수의 합을 출력한다.

In [1]:
"""
어렵지 않게 풀린다
"""

a, b, c, d = map(int, input().split())

first = int(str(a) + str(b))
second = int(str(c) + str(d))

print(first + second)

10 20 30 40
4060