<a href="https://colab.research.google.com/github/choi-yh/BOJ/blob/master/%EA%B7%B8%EB%9E%98%ED%94%84/2331_%EB%B0%98%EB%B3%B5%EC%88%98%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 10.05
https://www.acmicpc.net/problem/2331

문제
---
다음과 같이 정의된 수열이 있다.

D[1] = A
D[n] = D[n-1]의 각 자리의 숫자를 P번 곱한 수들의 합
예를 들어 A=57, P=2일 때, 수열 D는 {57, 74(=5^2+7^2=25+49), 65, 61, 37, 58, 89, 145, 42, 20, 4, 16, 37, …}이 된다. 그 뒤에는 앞서 나온 수들(57부터가 아니라 58부터)이 반복된다.

이와 같은 수열을 계속 구하다 보면 언젠가 이와 같은 반복수열이 된다. 이때, 반복되는 부분을 제외했을 때, 수열에 남게 되는 수들의 개수를 구하는 프로그램을 작성하시오. 위의 예에서는 {57, 74, 65, 61}의 네 개의 수가 남게 된다.

입력
---
첫째 줄에 A(1 ≤ A ≤ 9999), P(1 ≤ P ≤ 5)가 주어진다.

출력
---
첫째 줄에 반복되는 부분을 제외했을 때, 수열에 남게 되는 수들의 개수를 출력한다.

In [5]:
a, p = map(int, input().split())

# D[n] 계산
def compute(n, p):
    sum = 0
    for i in str(n):
        sum += int(i) ** p
    return sum

seq = [a] # 수열 리스트
# 반복되는 수가 나올때까지 연산을 계속 하다가 반복되는 수가 나올 때 반복문을 종료
while True:
    summ = compute(seq[-1], p)
    if summ in seq:
        break
    seq.append(summ)

idx = seq.index(summ) # 반복 수열 처음 수 인덱스 반환
seq = seq[:idx] # 반복되는 부분 삭제
print(len(seq))

57 2
4

In [4]:
s = [1, 2, 1]
s.index(1)

0

In [3]:
seq

[57, 74, 65, 61, 37, 58, 89, 145, 42, 20, 4, 16]

In [1]:
def compute(n, p):
    sum = 0
    for i in str(n):
        sum += int(i)**p
    return sum

compute(57, 2)

74