<a href="https://colab.research.google.com/github/choi-yh/BOJ/blob/master/1373_2%EC%A7%84%EC%88%98_8%EC%A7%84%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 09.16
https://www.acmicpc.net/problem/1373

문제
---
2진수가 주어졌을 때, 8진수로 변환하는 프로그램을 작성하시오.

입력
---
첫째 줄에 2진수가 주어진다. 주어지는 수의 길이는 1,000,000을 넘지 않는다.

출력
---
첫째 줄에 주어진 수를 8진수로 변환하여 출력한다.

In [6]:
# 2진수를 먼저 10진수로
def binary_to_decimal(x): # x는 문자열로 입력받는다
    x = x[::-1] # 연산을 위해 문자열로 변환 후 reverse
    result = 0
    for i in range(len(x)):
        result += int(x[i]) * (2**i)
    return result

# 변환된 10진수를 8진수로
def decimal_to_octal(x):
    result = ''
    while x > 0:
        result = str(x % 8) + result
        x //= 8
    return result # 최종 문자열도 그대로 출력

bin = input()
tmp = binary_to_decimal(bin)
print(decimal_to_octal(tmp))

1000000
100

In [9]:
x = input()

decimal = 0
for i in range(len(x)-1, -1, -1): # 문자열 reverse를 생략하고 함수도 생략
    decimal += int(x[i]) * (2**(len(x) -1 -i))

octal = ''
while decimal > 0:
    octal = str(decimal % 8) + octal
    decimal //= 8

print(octal)

11001100
314

In [11]:
"""
내장함수 사용
int 함수에서 두번째 인자가 몇진수로 받을건지 의미한다.
oct에서 앞에 Oo 두 문자 삭제 후 출력
"""
print(oct(int(input(), 2))[2:])

11001100
314