<a href="https://colab.research.google.com/github/choi-yh/BOJ/blob/master/%EA%B8%B0%ED%83%80/10872_%ED%8C%A9%ED%86%A0%EB%A6%AC%EC%96%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 09.17
https://www.acmicpc.net/problem/10872

문제
---
0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

입력
---
첫째 줄에 정수 N(0 ≤ N ≤ 12)가 주어진다.

출력
---
첫째 줄에 N!을 출력한다.

In [6]:
"""
기본적인 재귀 문제
DP로도 가능하다
"""

n = int(input())

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(n))

10
3628800