<a href="https://colab.research.google.com/github/choi-yh/BOJ/blob/master/1850_%EC%B5%9C%EB%8C%80%EA%B3%B5%EC%95%BD%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 09.15
https://www.acmicpc.net/problem/1850

문제
---
모든 자리가 1로만 이루어져있는 두 자연수 A와 B가 주어진다. 이때, A와 B의 최대 공약수를 구하는 프로그램을 작성하시오.

예를 들어, A가 111이고, B가 1111인 경우에 A와 B의 최대공약수는 1이고, A가 111이고, B가 111111인 경우에는 최대공약수가 111이다.

입력
---
첫째 줄에 두 자연수 A와 B를 이루는 1의 개수가 주어진다. 입력되는 수는 263보다 작은 자연수이다.

출력
---
첫째 줄에 A와 B의 최대공약수를 출력한다. 정답은 천만 자리를 넘지 않는다.

In [34]:
"""
입력되는 수가 2^63보다 작은 자연수다.
시간 초과가 계속 발생
"""
a, b = map(int, input().split())

mod = a % b
while mod > 0:
    a = b
    b = mod
    mod = a % b

print('1' * b) # integer로 바꿔주는 과정을 없애고 문자열로 출력하니 맞았다.

3 4
1